<!--Layout using Bootstrap-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{% block title %}Hello, world!{% endblock %}</title>

    <style>
      h1 {
        text-align: center;
        text-transform: uppercase;
        color: #4F71D0;
      }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!--Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://www.chartjs.org/samples/latest/charts/area/analyser.js"></script>
    <!--Gauge-->
    <script src="https://jhou98.github.io/BasicDjangoApp/svg-gauge/dist/gauge.js"></script>
    <!--Custom Scripts-->
    <script> 
      $(document).ready(function(){
        {% block jquery %}{% endblock %}
      })
    </script>

    <!-- Add things into the body as you go -->

    <div class="container">

      <div class="page-header">
        {% block header %}You didn't give this page a header!{% endblock %}
      </div>
      <!--Content block for anything need to add to our top container-->
      {% block topcontainer %}
      {% endblock %}
    </div>

    <!--Content block for anything that we want to be seperate from our container-->
    {% block content %}
    {% endblock %}

  </body>
</html>