{% extends 'base.html' %}
{% block title%}EV and Building Power Consumption{% endblock %}

{% block header %} <h1>Home</h1> {% endblock %}

{% block content %}
<!--Content Here-->
<div class='container'>
    <div class='row'>
        <div class='col-md-12 col-lg-6'>
            <canvas id="myChartEV" width="400" height="400"></canvas>
            <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
                    <div id="evdailygauge" class="gauge-container">
                        <span class="value-text">kW/hr</span>
                        <span class="label">Daily Peak</span>
                        <input type="hidden" id="evdailyval" value={{max_daily}}>
                        <input type="hidden" id="evdailymax" value=250>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
                    <div id="evweeklygauge" class="gauge-container">
                        <span class="value-text">kW/hr</span>
                        <span class="label">Weekly Peak</span>
                        <input type="hidden" id="evweeklyval" value={{max_weekly}}>
                        <input type="hidden" id="evweeklymax" value=300>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class="clearfix visible-md"></div>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
                    <div id="evmonthlygauge" class="gauge-container">
                        <span class="value-text">kW/hr</span>
                        <span class="label">Monthly Peak</span>
                        <input type="hidden" id="evmonthlyval" value={{max_monthly}}>
                        <input type="hidden" id="evmonthlymax" value=500>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 col-lg-6'>
                    <h2>EV Power Data</h2>
                </div>
            </div>
        </div>
        <div class="clearfix visible-md"></div>
        <div class='col-md-12 col-lg-6'>
            <canvas id="myChartBuilding" width="400" height="400"></canvas>
            <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
                    <div id="bddailygauge" class="gauge-container">
                        <span class="value-text">kW/hr</span>
                        <span class="label">Daily Peak</span>
                        <input type="hidden" id="bddailyval" value={{max_daily}}>
                        <input type="hidden" id="bddailymax" value=250>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
                    <div id="bdweeklygauge" class="gauge-container">
                        <span class="value-text">kW/hr</span>
                        <span class="label">Weekly Peak</span>
                        <input type="hidden" id="bdweeklyval" value={{max_weekly}}>
                        <input type="hidden" id="bdweeklymax" value=300>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class="clearfix visible-md"></div>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
                    <div id="bdmonthlygauge" class="gauge-container">
                        <span class="value-text">kW/hr</span>
                        <span class="label">Monthly Peak</span>
                        <input type="hidden" id="bdmonthlyval" value={{max_monthly}}>
                        <input type="hidden" id="bdmonthlymax" value=500>
                    </div>
                </div>
            </div>
            <div class='row'>
                    <div class='col-sm-12'>
                        <h2>Building Power Data</h2>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <canvas id="myChartTest" width="400" height="400"></canvas>
</div>
{% endblock %}

<!--Script for our Charts-->
<script src="https://jhou98.github.io/BasicDjangoApp/scripts/graphs-gauges.js"></script>
<script>
{% block jquery %}
    var endpoint = '/api/data'
    var errpoint = '/api/data2'

    //Running the ajax methods in parallel
    $.when(
        $.ajax({
            method: "GET",
            url: endpoint
        }),
        $.ajax({
            method: "GET",
            url: errpoint
        })
    ).then(function (data1, data2) {
        //data1 currently corresponds to our powerData model class
        var result = JSON.parse(data1[0])
        var date = []
        var power = []
        //length (as our objects are in Most recent->least recent)
        var length = result.data.length - 1
        for (var x in result.data) {
            //slice the ISO-Format String 
            //YYYY-mm-ddTHH:MM:SS.DDDZ -> YYYY-mm-ddTHH:MM
            date.push(result.data[length - x][1].slice(0, 16))
            power.push(result.data[length - x][2])
        }

        //data2 is the data with error bars 
        var err_result = JSON.parse(data2[0])
        var errdate = []
        var errpower = []
        var maxerr = []
        var minerr = []
        var err_length = err_result.data.length - 1
        for (var x in err_result.data) {
            errdate.push(err_result.data[err_length - x][0])
            errpower.push(err_result.data[err_length - x][1])
            maxerr.push(err_result.data[err_length - x][2])
            minerr.push(err_result.data[err_length - x][3])
        }

        //call our chart functions
        createEVChart(date, power)
        createBuildingChart(date, power)
        createTestChart(errdate, errpower, maxerr, minerr)
        //call our gauge function 
        createGauge("evdailyval", "evdailymax", "evdailygauge")
        createGauge("evweeklyval", "evweeklymax", "evweeklygauge")
        createGauge("evmonthlyval", "evmonthlymax", "evmonthlygauge")
        createGauge("bddailyval", "bddailymax", "bddailygauge")
        createGauge("bdweeklyval", "bdweeklymax", "bdweeklygauge")
        createGauge("bdmonthlyval", "bdmonthlymax", "bdmonthlygauge")
    });
{% endblock %}
</script>