{% extends 'base.html' %}
{% block title%}EV and Building Power Consumption{% endblock %}

{% block header %} <h1>Home Page</h1> {% endblock %}

<head>
<!--This is not working!!-->
{% load chartit %}
{{ powerchart|load_charts:"container"}}
</head>

{% block content %}
<!--Content Here-->
<br>
{{test_fn}}
<br>
<div id='container'>Chart will be rendered here</div>
{{powerchart}}
<div class='row'>
    <div class='col-sm-6'>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class='col-sm-6'>
        <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
</div>

{% endblock %}

<script>
{% block jquery %}
    var endpoint = '/api/data'
    
    $.ajax({
        method:"GET",
        url: endpoint,
        success: function(data){
            console.log(data)
            var result = JSON.parse(data)
            console.log(result.columns)
            console.log(result.data[1])
            console.log(result.data[1][1])
            createChart() //calls our function on success 
        },
        error: function(err_data){
            console.log("error")
            console.log(err_data)
        }
    });

    function createChart(){
        //Script for chart 
        var ctx = document.getElementById("myChart").getContext('2d');
        var ctx2 = document.getElementById("myChart2").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["2018-01-01","2018-01-02",
                        "2018-01-03","2018-01-04",
                        "2018-01-05","2018-01-06",
                        "2018-01-07","2018-01-08",
                        "2018-01-09","2018-01-10",
                        "2018-01-11","2018-01-12",
                        "2018-01-01","2018-01-02",
                        "2018-01-03","2018-01-04",
                        "2018-01-05","2018-01-06",
                        "2018-01-07","2018-01-08",
                        "2018-01-09","2018-01-10",
                        "2018-01-11","2018-01-12"],
                datasets: [{
                    label: 'Sample Chart',
                    data: [12, 19, 3, 5, 2, 3, 1, 2, 3, 5, 7, 9, 12, 19, 3, 5, 2, 3, 1, 10, 11, 5, 7, 9],
                    backgroundColor: 'rgba(255, 99, 132, 0)',
                    borderColor: 'rgba(255,99,132,1)',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });

        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: ["2018-01-01","2018-01-02",
                        "2018-01-03","2018-01-04",
                        "2018-01-05","2018-01-06",
                        "2018-01-07","2018-01-08",
                        "2018-01-09","2018-01-10",
                        "2018-01-11","2018-01-12",
                        "2018-01-01","2018-01-02",
                        "2018-01-03","2018-01-04",
                        "2018-01-05","2018-01-06",
                        "2018-01-07","2018-01-08",
                        "2018-01-09","2018-01-10",
                        "2018-01-11","2018-01-12"],
                datasets: [{
                    label: 'Sample Chart2',
                    data: [12, 19, 3, 5, 2, 3, 1, 2, 3, 5, 7, 9, 12, 19, 3, 5, 2, 3, 1, 10, 11, 5, 7, 9],
                    backgroundColor: 'rgba(255, 99, 132, 0)',
                    borderColor: 'rgba(255,99,132,1)',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    }
{% endblock %}
</script>