{% extends 'base.html' %}
{% block title%}EV and Building Power Consumption{% endblock %}

{% block header %} <h1><b>Home</b></h1> {% endblock %}

{% block content %}
<!--HTML Content Here-->
<div class='margs'>
    <div class='row'>
        <!--EV Chart-->
        <div class='col-md-12 col-lg-4'>
            <canvas id="myChartEV" width="400" height="400"></canvas>
            <br>
            <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                    <div id="evdailygauge" class="gauge-container">
                        <span class="value-text">kWh</span>
                        <span class="label">Daily Peak</span>
                        <input type="hidden" id="evdailyval" value={{curr_ev}}>
                        <input type="hidden" id="evdailymax" value={{max_evdaily}}>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                    <div id="evmonthlygauge" class="gauge-container">
                        <span class="value-text">kWh</span>
                        <span class="label">Monthly Peak</span>
                        <input type="hidden" id="evmonthlyval" value={{curr_ev}}>
                        <input type="hidden" id="evmonthlymax" value={{max_evmonthly}}>
                    </div>
                </div>
            </div>
        </div>
        <!--Car Chart-->
        <div class="clearfix visible-md"></div>
        <div class='col-md-12 col-lg-4'>
            <canvas id='myChartCar' width='400' height='400'></canvas>
        </div>
        <!--Building Chart-->
        <div class="clearfix visible-md"></div>
        <div class='col-md-12 col-lg-4'>
            <canvas id="myChartBuilding" width="400" height="400"></canvas>
            <br>
            <div class='row'>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                    <div id="bddailygauge" class="gauge-container">
                        <span class="value-text">kWh</span>
                        <span class="label">Daily Peak</span>
                        <input type="hidden" id="bddailyval" value={{curr_bd}}>
                        <input type="hidden" id="bddailymax" value={{max_bddaily}}>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                    <div id="bdmonthlygauge" class="gauge-container">
                        <span class="value-text">kWh</span>
                        <span class="label">Monthly Peak</span>
                        <input type="hidden" id="bdmonthlyval" value={{curr_bd}}>
                        <input type="hidden" id="bdmonthlymax" value={{max_bdmonthly}}>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Control Row / Building + EV Data-->
    <div class='row'>
        <!--Bar Chart-->
        <div class='col-md-12 col-lg-4'>
            <canvas id='myBarChart' width='400' height='400'></canvas>
        </div>
        <!--Building and EV Chart-->
        <div class="clearfix visible-md"></div>
        <div class='col-md-12 col-lg-4'>
            <canvas id="myChartTest" width="400" height="400"></canvas>
        </div>
        <!--Control Gauge-->
        <div class="clearfix visible-md"></div>
        <div class='col-md-12 col-lg-4'>
            <div id="evcontrolgauge" class="gauge-container">
                <span class="large-value-text">kWh</span>
                <span class="large-label">EV Control</span>
                <input type="hidden" id="evcurrval" value={{curr_ev}}>
                <input type="hidden" id="evmaxval" value="200">
            </div>
            <div class='row justify-content-center'>
                <div class='col-xs-10 col-sm-10 col-md-8 col-lg-8'>
                    <input type="range" min="0" max="200" step="0.001" value={{curr_ev}} class="slider" id="TestEV">
                </div>
                <div class='col-xs-2 col-sm-2'>
                    <button type="button" class="btn btn-warning">Enter</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--Script for our Charts and Gauges-->
<script>
    {% block jquery %}
    var evpoint = '/api/data'
    var errpoint = '/api/data2'
    var buildingpoint = '/api/data3'
    var vehiclepoint = '/api/cars'
    var predictedpoint = 'api/prediction/west'

    //Running the ajax methods in parallel
    $.when(
        $.ajax({
            method: "GET",
            url: evpoint
        }),
        $.ajax({
            method: "GET",
            url: errpoint
        }),
        $.ajax({
            method: "GET",
            url: buildingpoint
        }),
        $.ajax({
            method: "GET",
            url: vehiclepoint
        }),
        $.ajax({
            method: "GET",
            url: predictedpoint
        })
    ).then(function (data_ev, data_err, data_building, data_vehicles, data_prediction) {

        //Parse our EV data and format it into arrays 
        var ev_result = JSON.parse(data_ev[0])
        var ev_date = []
        var ev_power = []
        //length (as our objects are in Most recent->least recent)
        var ev_length = ev_result.data.length - 1
        for (var x in ev_result.data) {
            //slice the ISO-Format String 
            //YYYY-mm-ddTHH:MM:SS.DDDZ -> YYYY-mm-ddTHH:MM:SS
            ev_date.push(ev_result.data[ev_length - x][0].slice(0, 16))
            ev_power.push(ev_result.data[ev_length - x][1])
        }

        //Similarly for our building data (static currently)
        var bd_result = JSON.parse(data_building[0])
        var bd_date = []
        var bd_power = []
        var bd_length = bd_result.data.length - 1
        for (var x in bd_result.data) {
            bd_date.push(bd_result.data[bd_length - x][0].slice(0, 16))
            bd_power.push(bd_result.data[bd_length - x][1])
        }

        //create an array for bar chart
        //The array will look like this -> [ev power, building power, combined power]
        var bar_power = []
        bar_power.push(ev_power[length])
        bar_power.push(bd_power[bd_length])
        bar_power.push((ev_power[length] + bd_power[bd_length]))

        // currently a static Error bar graph 
        var err_result = JSON.parse(data_err[0])
        var err_date = []
        var err_power = []
        var max_err = []
        var min_err = []
        var err_length = err_result.data.length - 1
        for (var x in err_result.data) {
            err_date.push(err_result.data[err_length - x][0])
            err_power.push(err_result.data[err_length - x][1])
            max_err.push(err_result.data[err_length - x][2])
            min_err.push(err_result.data[err_length - x][3])
        }

        // Our vehicle data (static currently)
        var car_result = JSON.parse(data_vehicles[0])
        var car_date = []
        var car_total = []
        var car_charged = []
        var car_length = car_result.data.length - 1
        for (var x in car_result.data) {
            car_date.push(car_result.data[car_length - x][0].slice(0, 16))
            car_total.push(car_result.data[car_length - x][1])
            car_charged.push(car_result.data[car_length - x][2])
        }

        //Our predicted data (static currently, but update is supported)
        var predicted_result = JSON.parse(data_prediction[0])
        var predicted_date = []
        var predicted_val = []
        var predicted_max = []
        var predicted_min = []
        var predicted_length = predicted_result.data.length - 1
        for (var x in predicted_result.data) {
            predicted_date.push((predicted_result.data[predicted_length - x][0]).slice(0, 16))
            predicted_val.push(predicted_result.data[predicted_length - x][1])
            predicted_max.push(predicted_result.data[predicted_length - x][2])
            predicted_min.push(predicted_result.data[predicted_length - x][3])
        }

        // Formatting the ev graph data to include the predicted vals w/ error bars 
        // NOTE: Currently just using static random data for predicted values
        var evgraph_timestamp = ev_date
        var evgraph_pwr = ev_power
        var evpredicted_pwr = []
        var evpredicted_max = []
        var evpredicted_min = []
        for (var x in ev_date) {
            evpredicted_pwr.push(null)
            evpredicted_max.push(null)
            evpredicted_min.push(null)
        }
        for (var x in predicted_date) {
            evgraph_timestamp.push(predicted_date[x])
            evgraph_pwr.push(null)
            evpredicted_pwr.push(predicted_val[x])
            evpredicted_max.push(predicted_max[x])
            evpredicted_min.push(predicted_min[x])
        }

        // Formatting the building graph data to include the predicted vals w/ error bars 
        // NOTE: Currently just using the same predicted data as ev (some random false data), change to get realtime
        var bdgraph_timestamp = bd_date
        var bdgraph_pwr = bd_power
        var bdpredicted_pwr = []
        var bdpredicted_max = []
        var bdpredicted_min = []
        for (var x in bd_date) {
            bdpredicted_pwr.push(null)
            bdpredicted_max.push(null)
            bdpredicted_min.push(null)
        }
        for (var x in predicted_date) {
            bdgraph_timestamp.push(predicted_date[x])
            bdgraph_pwr.push(null)
            bdpredicted_pwr.push(predicted_val[x])
            bdpredicted_max.push(predicted_max[x])
            bdpredicted_min.push(predicted_min[x])
        }

        //call our chart function to create charts 
        //createChart(dates, pwr_vals, future_pwr, maxerr_pwr, minerr_pwr, id, lbl_title, x_axis, y_axis)
        var evChart = createChart(evgraph_timestamp, evgraph_pwr, evpredicted_pwr, evpredicted_max, evpredicted_min, "myChartEV", 'EV Charger Power Data', 'Timestamp', 'Power (kW)')
        var bdChart = createChart(bdgraph_timestamp, bdgraph_pwr, bdpredicted_pwr, bdpredicted_max, bdpredicted_min, "myChartBuilding", 'Building Power Data', 'Timestamp', 'Power (kW)')
        var carChart = createCarChart(car_date, car_total, car_charged, "myChartCar", 'Vehicle Data', 'Timestamp', 'Number of Vehicles')
        var barChart = createBarChart(["EV", "Building", "Total"], bar_power, 100, "myBarChart", "Total Power (kW)", "Power (kW)", "Location")
        var testChart = createTestChart("myChartTest", err_date, err_power, max_err, min_err)


        //call our gauge function to create gauges
        var evdgauge = createGauge("evdailyval", "evdailymax", "evdailygauge")
        var evmgauge = createGauge("evmonthlyval", "evmonthlymax", "evmonthlygauge")
        var bddgauge = createGauge("bddailyval", "bddailymax", "bddailygauge")
        var bdmgauge = createGauge("bdmonthlyval", "bdmonthlymax", "bdmonthlygauge")

        //Create the control gauge for EV power 
        var evctrlgauge = createGauge("evcurrval", "evmaxval", "evcontrolgauge")
        var evslider = document.getElementById("TestEV");

        evslider.oninput = function () {
            evctrlgauge.setValue(this.value)
        }
        //timeout function 
        evpoll(evChart, evdgauge, evmgauge)

    });
    {% endblock %}
</script>

<script>
    {% block script %}

    function evpoll(chart, gauge_1, gauge_2) {
        /** 
         * Function that calls itself over a set interval using setTimeout and ajax.
         * Used for EV power. 
         * 
         * @param {Chart} chart Chart object. 
         * @param {Gauge} gauge_1 Gauge Object.
         * @param {Gauge} gauge_2 Gauge Object.  
         */
        setTimeout(function () {
            $.ajax({
                url: "/api/data",
                type: "GET",
                success: function (data) {
                    console.log("polling next point")
                    var result = JSON.parse(data)
                    var ev_date = []
                    var ev_power = []
                    //length (as our objects are in Most recent->least recent)
                    var length = result.data.length - 1
                    for (var x in result.data) {
                        //slice the ISO-Format String 
                        //YYYY-mm-ddTHH:MM:SS.DDDZ -> YYYY-mm-ddTHH:MM:SS
                        ev_date.push(result.data[length - x][0].slice(0, 16))
                        ev_power.push(result.data[length - x][1])
                    }
                    //Add most recent datapoint into our chart
                    gauge_1.setValue(result.data[0][1])
                    gauge_2.setValue(result.data[0][1])
                    updateChart(chart, ev_date, ev_power)
                },
                complete: evpoll(chart_1, chart_2, gauge_1, gauge_2),
                timeout: 2000
            })
        }, 0.5 * 60000);
    }

    function updateChart(chart, timestamps, pwr) {
        /** 
         * Function that updates our chart. 
         * 
         * @param {Chart} chart Chart object.
         * @param {Array} timestamps Array of dates. 
         * @param {Array} pwr Array of power values. 
         */

        $.ajax({
            url: "/api/prediction/west",
            type: "GET",
            success: function (data) {
                var result = JSON.parse(data)
                var predicted_date = []
                var predicted_val = []
                var predicted_max = []
                var predicted_min = []
                var predicted_length = result.data.length - 1
                for (var x in result.data) {
                    predicted_date.push((result.data[predicted_length - x][0]).slice(0, 16))
                    predicted_val.push(result.data[predicted_length - x][1])
                    predicted_max.push(result.data[predicted_length - x][2])
                    predicted_min.push(result.data[predicted_length - x][3])
                }
                //Add most recent datapoint into our chart
                addDataChart(chart, timestamps, pwr, predicted_date, predicted_val, predicted_max, predicted_min)
            },
            error: function (err_data) {
                console.log("error", err_data)
            }
        });
    }

    function addDataChart(chart, curr_x, curr_y, pred_x, pred_y, pred_max, pred_min) {
        /**
         * Helper function to update our chart. 
         * 
         * @param {Chart} chart Chart object.
         * @param {Array} curr_x Current/Historical timestamps. 
         * @param {Array} curr_y Current/Historical power values.
         * @param {Array} pred_x Predicted timestamps. 
         * @param {Array} pred_y Predicted power values.
         * @param {Array} pred_max Predicted maximum error value. 
         * @param {Array} pred_min Predicted minimum error value. 
         * 
         */
        var timestamp = curr_x
        var evpwr = curr_y
        var predictedpwr = []
        var predictedmax = []
        var predictedmin = []
        for (var x in curr_x) {
            predictedpwr.push(null)
            predictedmax.push(null)
            predictedmin.push(null)
        }
        for (var x in pred_x) {
            timestamp.push(pred_x[x])
            evpwr.push(null)
            predictedpwr.push(pred_y[x])
            predictedmax.push(pred_max[x])
            predictedmin.push(pred_min[x])
        }

        chart.data.datasets[0].data = evpwr
        chart.data.datasets[1].data = predictedpwr
        chart.data.datasets[2].data = predictedmax
        chart.data.datasets[3].data = predictedmin
        chart.data.labels = timestamp
        chart.update();
        console.log("chart is updated")
    }

    {% endblock %}
</script>